{% extends 'task/base.html' %}


{% block title %}
    Домашнее задание
{% endblock %}

{% block content %}
    <h4>Домашнее задание </h4>
    <div class="alert alert-secondary mt-2" >
            В этом ДЗ вы доработаете своё приложение для отображения моделей на страницах.<br>

доработать своё приложение для отображения моделей на страницах добавить страницы ListView и DetailView

<br>Критерии оценки:<br>
данные отображаются на страницах - 1 балл есть кнопка для возвращения к списку - 1 балл
        </вшм>
{% endblock %}

