{% extends 'task/base.html' %}


{% block title %}
    Домашнее задание
{% endblock %}

{% block content %}
    <h4>Домашнее задание </h4>
    <div class="alert alert-secondary mt-2" >
        В этом ДЗ вы создадите action с выполнением тестов.

        создать action с выполнением тестов БОНУС: применить какой-либо открытый ресурс для тестирования и проверки покрытия: Travis, codecov, coveralls и тд БОНУС: выполнить деплой. можно, например, запустить докер контейнер локально, 
        поднять ngrok, сделать так, чтобы в этот контейнер был выполнен деплой. либо использовать VPS

<br>Критерии оценки:<br>
создан какой-либо action - 1 балл БОНУС: настроен deploy action - 1 балл
    </div>
{% endblock %}

